language: python
python:
- "2.6"
- "2.7"
- "3.2"
- "3.3"
- "pypy"
# command to install dependencies
# install: "pip install foo bar --use-mirrors"
# command to run tests
script: nosetests --with-doctest
notifications:
  email: false
