language: python
python:
- "2.6"
- "2.7"
- "3.2"
- "3.3"
# command to install dependencies
install: "pip install itertoolz functoolz --use-mirrors"
# command to run tests
script: nosetests --with-doctest
notifications:
  email: false
